.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  color: white;
}

.App-main {
  background-color: #dddddd;
  height: calc(100vh - 144.156px);
  display: flex;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 700px;
  margin: auto;
}

.App-section {
  height: 275px;
  background-color: #282c34;
  width: 300px;
  color: white;
}

.money {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.denomination {
  list-style-type: none;
  padding: 0;
}

.withdraw {
  color: #000000;
  background-color: #fff;
}

.App-footer {
  background-color: #282c34;
  font-size: 15px;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

